<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/merv.css">
</head>
<body class="login-content">
<div>
    <nav class="navbar">
      <div class="navbar-brand">
          <a href="/"><img src="/Codeplay_logo.png" alt="codeplay logo" class="logo"></a>
      </div>
      <ul class="navbar-links">
        <li><a href="/about_logged_out">About us</a></li>
        <li><a href="/auth/signup" class="btn signup">Sign Up</a></li>
      </ul>
    </nav>
    <br><br><br>
  <div class="form-container"> 
    <form action="/auth/login" method="post">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Please input your username">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Please input your password">
        <p>Don't have an account? Sign up <a href="/auth/signup" class="hyperlink">here!</a></p>
        <button type="submit" class="btn">Login</button>
      </div>
    </form>
  </div>
</div>
<% if (success_msg) { %>
  <p style="color: green;"><%= success_msg %></p>
<% } %>
<% if (error_msg) { %>
  <p style="color: red;"><%= error_msg %></p>
<% } %>
<% if (error) { %>
  <p style="color: red;"><%= error %></p>
<% } %>
</body>
</html>
