<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/merv.css">
</head>
<body class="signup-content">

  <div>
    <nav class="navbar">
      <div class="navbar-brand">
          <a href="/"><img src="/Codeplay_logo.png" alt="codeplay logo" class="logo"></a>
      </div>
      <ul class="navbar-links">
        <li><a href="/about_logged_out">About us</a></li>
        <li><a href="/auth/login" class="btn login">Login</a></li>
      </ul>
    </nav>
  <br><br><br>
    <div class="form-container">     
      <form action="/auth/signup" method="post">
        <h2>Sign Up</h2>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
          <br><br>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
          <br><br>
          <label for="password">Confirm Password:</label>
          <input type="password" id="confirmpassword" name="confirmpassword" required>
          <br><br>
          <button type="submit" class="btn">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  <% if (success_msg) { %>
    <p style="color: green;"><%= success_msg %></p>
  <% } %>
  <% if (error_msg) { %>
    <p style="color: red;"><%= error_msg %></p>
  <% } %>
  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } %>
</body>
</html>