<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeplay | <%= title%></title>
    <header>
        <h1>Codeplay</h1>
    </header>
    <link rel="stylesheet" href="/merv.css">
</head> -->