<nav> 
    <div class ="site-title">
        <img src="/Codeplay_logo.png" class="logo">
        <a href="/index"><h1>Learn how to code!</h1></a>
        <p>Learn with your friends!</p>
    </div>
    <ul>
        <li><a href="/quizzes">Quiz</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/quizzes/create">Create Quiz</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</nav>