<nav class="navbar">
    <div class="navbar-brand">
      <a href="/index">
        <div class="site-title">
          <h1>Learn how to code!</h1>
          <p>Learn with your friends!</p>
        </div>
      </a>
    </div>

    <ul class="navbar-links">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/quizzes">Quizzes</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/quizzes/create">Create Quiz</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  </nav>
  