<nav class="navbar">
  <div class="navbar-brand">
  </div>
  <ul class="navbar-links">
    <li><a href="/about_logged_out">About us</a></li>
    <li><a href="/auth/login" class="btn login">Login</a></li>
    <li><a href="/auth/signup" class="btn signup">Sign Up</a></li>
  </ul>
</nav>
