<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/swei.css">
</head>
<body class="not-found body">
  <div class="content not-found">
    <!-- <img src="/404.jpg" alt="404 Not Found" class="not-found-image"> -->
    <h1>OOPS, page not found :(</h1>
    <a href="/" class="btn">Back to Homepage</a>
  </div>
</body>
</html>
