<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Inspired by Duolingo, we have created this website to allow you guys to learn an important skill! Coding!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>