<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <div class="about content">
        <h2>About us</h2>
        <img src="/Codeplay_logo.png" class="logo">
        <ul>
            <li><a href="/">Homepage</a></li>
        </ul>
        <p>Inspired by Duolingo, we have created this website to allow you guys to learn an important skill! Coding!</p>
        <p>Happy Coding!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>