<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="create-quiz content">
        <form>
            <label for="title">Quiz Name</label>
            <input type="text" id="title" required>
            <label for="snippet">Author</label>
            <input type="text" id="snippet" required>
            <label for="body">Questions</label>
            <textarea id="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>