<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeplay</title>
    <link rel="stylesheet" href="/merv.css">
</head>
<body class="homepage-content">
  <%- include('./partials/nav_logged_out.ejs') %>
    <section class="banner">
      <img src="/homepage_logo.png" alt="homepage logo">
      <div class="welcome">
        <h2>Welcome to Codeplay!</h2>
      </div>
    </section>
    <p>Learn how to code! A step at a time!</p>
    <br><br>
    <p>This is still a work in progress please bear with us!</p>
  <%- include('./partials/footer.ejs') %>
</body>
</html>