body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header{
    position: fixed;
    background-color: rgb(16, 36, 212);
    text-align: center;
    /* padding: 20px; */
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.homepage-content {
    font-family: arial;
    white-space: nowrap;
    text-align: center;
    
}
.homepage-content p{
    text-align: center;
    border: 4px dotted lavender;
    border-radius: 36px;
    font-size: 2em;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 99%;
    z-index: 1;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 30px;
    margin-right: 10px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navbar-buttons {
    display: flex;
    align-items: center;
}

.btn{
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 10px;
}

.login {
    color: black;
    background-color: orange;
}

.signup{
    background-color: #8d54dd;
    color: lavender;
}
.login-content{
    background-color: orange;
}
.signup-content{
    background-color: lavender;
}
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .welcome{
    background-color: #8d54dd;
    color: white;
    padding: 20px;
    position: absolute;
    left: 0;
    top: 10%;
    border-radius: 36px;
}
.homepage-content p{
    font-family: arial;
    font-size: 40px;
    background-color: beige;
    text-align: center;
}
footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}
form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input {
    width: 33%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightpink;
    color: white;
}

button.btn {
    padding: 10px 15px;
    background-color: #6200EE;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #5b00d9;
}